<div id="draggable-div-25" class="miscBox draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-wrapper position-relative">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" data-bs-toggle="tab" href="#"><span
                                class="fas fa-tachometer-alt me-2"></span>Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#"><span
                                class="far fa-user-circle me-2"></span>Profile</a></li>
                    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#"><span
                                class="far fa-sun me-2"></span>Settings</a></li>
                    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" data-bs-toggle="tab" href="#"><span
                                class="far fa-comments me-2"></span>Messages</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>