<div id="draggable-div-10" class="cmnBox draggable" style="width: 15rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="progress-wrapper">
        <div class="progress-info">
            <div class="progress-label">
                <span class="text-success">Success Bar</span>
            </div>
            <div class="progress-percentage">
                <span>60%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>