<div id="draggable-div-12" class="cmnBox srvcBox draggable" style="width: 15rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="/img/service.png" alt="" class="w-100" />
            </div>
            <div class="col-md-6">
                <h4>Title</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>