<div id="draggable-div-15" class="formBox draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="form-body">
        <div class="mb-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputIconPassword">Password</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt fn-13"></span></span>
                <input type="password" class="form-control" id="exampleInputIconPassword" placeholder="Password" aria-label="Password" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="mb-3">
          <label for="textarea">Example textarea</label>
          <textarea class="form-control" placeholder="Enter your message..." id="textarea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>