<div id="draggable-div-8" class="cmnBox draggable" style="width: 15rem;" draggable="true" data-type="div" data-info="DIV Component">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle fn-13" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item fn-13" href="#">Action</a></li>
            <li><a class="dropdown-item fn-13" href="#">Another action</a></li>
            <li><a class="dropdown-item fn-13" href="#">Something else here</a></li>
        </ul>
    </div>
</div>