<div id="draggable-div-9" class="cmnBox draggable" style="width: 15rem;" draggable="true" data-type="div" data-info="DIV Component">
    <div class="cmnTitle">List group</div>
    <ul class="list-group">
        <li class="list-group-item fn-13">An item</li>
        <li class="list-group-item fn-13">A second item</li>
        <li class="list-group-item fn-13">A third item</li>
        <li class="list-group-item fn-13">A fourth item</li>
        <li class="list-group-item fn-13">And a fifth one</li>
    </ul>
</div>