<div id="draggable-div-14" class="card shadow draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div>
        <img src="../../../../../../src/assets/img/image-1.jpg" class="card-img-top rounded-top" alt="Designer desk">
        <div class="card-body">
            <div class="media d-flex align-items-center justify-content-between">
                <div class="post-group">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                        <img class="avatar-sm me-2 img-fluid rounded-circle"
                            src="../../../../../../src/assets/img/profile-picture-2.jpg" alt="Jo portrait"> Jo J. Moore
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <span class="small fn-13"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                </div>
            </div>
            <h3 class="h5 card-title mt-3">We partnered up with Google</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary btn-sm">Learn More</a>
        </div>
    </div>
</div>