<div id="draggable-div-14" class="cmnBox draggable" style="width: 15rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/card.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/card.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/card.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>