<div id="draggable-widget-7" class="col-12 col-sm-12 col-xl-12 mb-4 draggable" draggable="true" style="display: none;">
  <div class="card border-0 shadow">
    <div class="card-body">
      <div class="row d-block d-xl-flex align-items-center">
        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
          <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0"><svg class="icon icon-md" fill="currentColor"
              viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"></path>
            </svg></div>
          <div class="d-sm-none">
            <h2 class="fw-extrabold h5">Bounce Rate</h2>
            <h3 class="mb-1">50.88%</h3>
          </div>
        </div>
        <div class="col-12 col-xl-7 px-xl-0">
          <div class="d-none d-sm-block">
            <h2 class="h5">Bounce Rate</h2>
            <h3 class="fw-extrabold mb-1">50.88%</h3>
          </div><small>Feb 1 - Apr 1</small>
          <div class="small d-flex mt-1"><svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
            <div><span class="text-success fw-bolder me-1">4%</span> Since last month</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>