<div id="draggable-table-2" class="col-12 col-sm-12 col-xl-12 mb-4 draggable" draggable="true" style="display: none; text-align: left;">

    <div class="card card-body border-0 shadow table-wrapper">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">Country</th>
                        <th class="border-0">All</th>
                        <th class="border-0">All Change</th>
                        <th class="border-0">Travel & Local</th>
                        <th class="border-0">Travel & Local Change</th>
                        <th class="border-0">Widgets</th>
                        <th class="border-0 rounded-end">Widgets Change</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    <tr>
                        <td class="border-0">
                            <a href="#" class="d-flex align-items-center">
                                <img class="me-2 image image-small rounded-circle" alt="Image placeholder"
                                    src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/flags/united-states-of-america.svg">
                                <div><span class="h6">United States</span></div>
                            </a>
                        </td>
                        <td class="border-0 fw-bold">106</td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">5</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            3
                        </td>
                        <td class="border-0">
                            =
                        </td>
                        <td class="border-0 fw-bold">
                            32
                        </td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">3</span>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td class="border-0">
                            <a href="#" class="d-flex align-items-center">
                                <img class="me-2 image image-small rounded-circle" alt="Image placeholder"
                                    src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/flags/canada.svg">
                                <div><span class="h6">Canada</span></div>
                            </a>
                        </td>
                        <td class="border-0 fw-bold">76</td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">17</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            4
                        </td>
                        <td class="border-0">
                            =
                        </td>
                        <td class="border-0 fw-bold">
                            30
                        </td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">3</span>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td class="border-0">
                            <a href="#" class="d-flex align-items-center">
                                <img class="me-2 image image-small rounded-circle" alt="Image placeholder"
                                    src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/flags/united-kingdom.svg">
                                <div><span class="h6">United Kingdom</span></div>
                            </a>
                        </td>
                        <td class="border-0 fw-bold">147</td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">10</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            5
                        </td>
                        <td class="border-0">
                            =
                        </td>
                        <td class="border-0 fw-bold">
                            34
                        </td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">7</span>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td class="border-0">
                            <a href="#" class="d-flex align-items-center">
                                <img class="me-2 image image-small rounded-circle" alt="Image placeholder"
                                    src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/flags/france.svg">
                                <div><span class="h6">France</span></div>
                            </a>
                        </td>
                        <td class="border-0 fw-bold">112</td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">3</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            5
                        </td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">1</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            34
                        </td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">2</span>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td class="border-0">
                            <a href="#" class="d-flex align-items-center">
                                <img class="me-2 image image-small rounded-circle" alt="Image placeholder"
                                    src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/flags/japan.svg">
                                <div><span class="h6">Japan</span></div>
                            </a>
                        </td>
                        <td class="border-0 fw-bold">115</td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">12</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            6
                        </td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">1</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            37
                        </td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">5</span>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->

                    <!-- Item -->
                    <tr>
                        <td class="border-0">
                            <a href="#" class="d-flex align-items-center">
                                <img class="me-2 image image-small rounded-circle" alt="Image placeholder"
                                    src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/flags/germany.svg">
                                <div><span class="h6">Germany</span></div>
                            </a>
                        </td>
                        <td class="border-0 fw-bold">220</td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">56</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            7
                        </td>
                        <td class="border-0 text-danger">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">3</span>
                            </div>
                        </td>
                        <td class="border-0 fw-bold">
                            30
                        </td>
                        <td class="border-0 text-success">
                            <div class="d-flex align-items-center">
                                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="fw-bold">2</span>
                            </div>
                        </td>
                    </tr>
                    <!-- End of Item -->
                </tbody>
            </table>
        </div>
    </div>

</div>