<div id="draggable-sidebar-1" class="draggable rltvSidebar" draggable="true" style="display: none;">
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
        <a class="navbar-brand me-lg-5" href="#">
            <img class="navbar-brand-dark" src="/img/brand/light.svg" alt="Volt logo">
            <img class="navbar-brand-light" src="/img/brand/dark.svg" alt="Volt logo">
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <div class="sidebar-inner px-4 pt-3">
                                <ul class="nav flex-column pt-3 pt-md-0">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link d-flex align-items-center">
                                            <span class="sidebar-icon">
                                                <img src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/brand/light.svg" height="20"
                                                    width="20" alt="Volt Logo">
                                            </span>
                                            <span class="mt-1 ms-1 sidebar-text">Volt Overview</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  active ">
                                        <a href="#" class="nav-link">
                                            <span class="sidebar-icon">
                                                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                                    <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                                                </svg>
                                            </span>
                                            <span class="sidebar-text">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="#" class="nav-link">
                                            <span class="sidebar-icon">
                                                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path>
                                                    <path fill-rule="evenodd"
                                                        d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                            <span class="sidebar-text">Transactions</span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="#" class="nav-link">
                                            <span class="sidebar-icon">
                                                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                            <span class="sidebar-text">Settings</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                                            data-bs-toggle="collapse" data-bs-target="#submenu-app">
                                            <span>
                                                <span class="sidebar-icon">
                                                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                </span>
                                                <span class="sidebar-text">Tables</span>
                                            </span>
                                            <span class="link-arrow">
                                                <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                        </span>
                                        <div class="multi-level collapse " role="list" id="submenu-app" aria-expanded="false">
                                            <ul class="flex-column nav">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                                        <span class="sidebar-text">Bootstrap Tables</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
                                    <li class="nav-item">
                                        <a href="#" target="_blank" class="nav-link d-flex align-items-center">
                                            <span class="sidebar-icon">
                                                <img src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/themesberg.svg" height="20"
                                                    width="28" alt="Themesberg Logo">
                                            </span>
                                            <span class="sidebar-text">
                                                &copy; Company
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
</div>
