<div id="draggable-div-4" class="card draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="card-header">
        <strong>REMOTE</strong> Component
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Simple Bootstrap5 Card
        </h5>
       <img src="/img/card.png" alt="" class="cardImg" />
        <a target="_blank" href="https://components-server.onrender.com/kits/bs5/" class="btn btn-primary">Access the
            Server</a>
    </div>
</div>