<div id="draggable-userimg-1" class="col-12 col-sm-12 col-xl-12 mb-4 draggable" draggable="true"
    style="display: none; text-align: left;">

    <div class="card card-body border-0 shadow mb-4">
        <h2 class="h5 mb-4">Select profile photo</h2>
        <div class="d-flex align-items-center">
            <div class="me-3">
                <!-- Avatar -->
                <img class="rounded avatar-xl" src="https://appsrv1-147a1.kxcdn.com/builder/volt/assets/img/team/profile-picture-3.jpg" alt="change avatar">
            </div>
            <div class="file-field">
                <div class="d-flex justify-content-xl-center ms-xl-3">
                    <div class="d-flex">
                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <input type="file">
                        <div class="d-md-block text-left">
                            <div class="fw-normal text-dark mb-1">Choose Image</div>
                            <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>