<div id="draggable-div-26" class="miscBox draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-6 mb-5"><span class="h6">Blockquote</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <blockquote class="blockquote text-center">Themesberg makes beautiful products to help people with creative
                ideas succeed. Our company empowers millions of people.<footer
                    class="blockquote-footer mt-3 text-primary">Zoltan Szőgyényi</footer>
            </blockquote>
        </div>
    </div>
</div>