<div id="draggable-div-23" class="miscBox draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">

    <div class="row mb-4 mb-lg-5">
        <div class="col-lg-12">
            <div class="mb-3"><label for="validationServer01">First name</label> <input type="text"
                    class="form-control is-valid" id="validationServer01" value="Mark" required="">
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-4"><label for="validationServerUsername">Username</label> <input type="text"
                    class="form-control is-invalid" id="validationServerUsername" required="">
                <div class="invalid-feedback">Please choose a username.</div>
            </div>
            <div class="mb-3"><label for="formFile" class="form-label">Default file input example</label> <input
                    class="form-control" type="file" id="formFile"></div>
        </div>
    </div>
</div>