<div id="draggable-div-22" class="miscBox draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">

    <div class="row mb-5">
        <div class="col-12 mt-5">
            <div class="card shadow mb-6">
                <div class="card-body px-5 py-5 text-center text-md-left">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <h2 class="mb-3">Get in touch</h2>
                            <p class="mb-0">If you need any help with our products or services, choose one of
                                the following ways to contact us.</p>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right"><a href="#"
                                class="btn btn-primary"><span class="me-1"><span class="fas fa-headphones"></span>
                                </span>Contact Us</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>