<div id="draggable-div-20" class="miscBox draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="row justify-content-between align-items-center mb-5 mb-lg-5">
        <div class="col-lg-5 mb-5 mb-lg-0">
            <h2 class="h1 d-flex align-items-center">Modular sections <span
                    class="badge-md ms-3 mb-0 fs-6 badge rounded-pill text-white bg-tertiary">Pro</span></h2>
            <p class="mb-4 lead fw-bold">More than 50 website sections</p>
            <p class="mb-4">Using the sections in Pixel Pro you can easily build new pages by adding them together</p><a
                href="https://demo.themesberg.com/pixel-pro/v5/html/sections/all-sections.html" target="_blank"
                class="btn btn-primary mt-2 animate-up-2"><span class="fas fa-th-large me-2"></span> Explore
                sections</a>
        </div>
        <div class="col-lg-6"><img src="../../../../../../src/assets/img/sections-mockup.jpg" alt="MapBox Leaflet.js Custom Integration Mockup"></div>
    </div>
</div>