<div id="draggable-form2-1" class="cmnBox draggable" draggable="true" data-type="button" style="display: none;"
    data-info="FORM Component">

    <div class="card-body">
        <div class="row mb-4">

            <div class="col-lg-12 col-sm-12">

                <!-- Form -->
                <div class="mb-4">
                    <label for="textarea">Example textarea</label>
                    <textarea class="form-control" placeholder="Enter your message..." id="textarea"
                        rows="4"></textarea>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="mb-4">
                    <label for="usernameValidate">Username</label>
                    <input type="text" class="form-control is-invalid" id="usernameValidate" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <!-- End of Form -->
            </div>

        </div>
    </div>

</div>