<div id="draggable-form3-1" class="cmnBox draggable" draggable="true" data-type="button" style="display: none;"
    data-info="FORM Component">

    <div class="card-body">
        <div class="row mb-4">

            <div class="col-lg-12 col-sm-12">
                <div class="mb-3">
                    <label for="birthday">Birthday</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <input data-datepicker="" class="form-control" id="birthday" type="text"
                            placeholder="dd/mm/yyyy" required>
                    </div>
                </div>
                <!-- Form -->
                <div class="mb-3">
                    <label for="disabledTextInput">Name</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input"
                        disabled>
                </div>
                <div class="mb-3">
                    <label for="disabledSelect">Disabled select menu</label>
                    <select id="disabledSelect" class="form-control" disabled>
                        <option>Disabled select</option>
                    </select>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="mb-4">
                    <label class="my-1 me-2" for="country">Country</label>
                    <select class="form-select" id="country" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <!-- End of Form -->
            </div>

        </div>
    </div>

</div>