:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.example-parent {
  border: 2px solid #DFA612;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}
.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.draggable {
  background-color: #4AAE9B;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px dashed transparent;
  position: relative;
}

.cross-icon {
  color: red;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}

.upButton {
  position: absolute;
  left: 5px;
  top: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.downButton {
  position: absolute;
  left: 5px;
  bottom: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.draggable:hover {
  border-color: red;
}

/*
.component:hover .cross-icon,
.component:hover .upButton,
.component:hover .downButton {
  display: block;
}*/

.dropzone {
  background-color: #6DB65B;
  flex-basis: 100%;
  flex-grow: 1;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.dropzone-elem {
  background-color: #6DB65B;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.component {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0 !important;
}

#builder-navigation {
  border: 1px solid red;
  margin: 1px;
}

#builder-log {
  border: 1px solid green;
  margin: 1px;
}

#builder-container {
  border: 1px solid green;
  margin: 1px;
  width: 100%;
  height: 100%;
}

#builder-components {
  border: 1px solid blue;
  margin: 1px;
}

#builder-content {
  border: 1px solid gray;
  margin: 1px;
}

#builder-props {
  border: 1px solid magenta;
  margin: 1px;
}

.border-dotted {
  border-style: dotted !important;
  margin: 2px;
}

.border-props {
  border: 1px solid red !important;
  margin: 2px;
}