<footer id="draggable-footer-1" class="bg-white rounded shadow p-5 mb-2 mt-2 draggable" draggable="true" style="display: none;">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-2 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                &copy; Company
            </p>
        </div>
        <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
            <!-- List -->
            <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="#">About</a>
                </li>
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
