<div id="draggable-chart-2" class="col-12 col-sm-12 col-xl-12 mb-4 draggable" draggable="true" style="display: none;">
    <div class="col-12 px-0 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
                <div class="d-block">
                    <div class="h6 fw-normal text-gray mb-2">Total orders</div>
                    <h2 class="h3 fw-extrabold">452</h2>
                    <div class="small mt-2">
                        <span class="fas fa-angle-up text-success"></span>
                        <span class="text-success fw-bold">18.2%</span>
                    </div>
                </div>
                <div class="d-block ms-auto">
                    <div class="d-flex align-items-center text-end mb-2">
                        <span class="dot rounded-circle bg-gray-800 me-2"></span>
                        <span class="fw-normal small">July</span>
                    </div>
                    <div class="d-flex align-items-center text-end">
                        <span class="dot rounded-circle bg-secondary me-2"></span>
                        <span class="fw-normal small">August</span>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="ct-chart-ranking ct-golden-section ct-series-a"></div>
            </div>
        </div>

    </div>
</div>