<div id="draggable-chart-1" class="col-12 col-sm-12 col-xl-12 mb-4 draggable" draggable="true" style="display: none;">
    <div class="card bg-yellow-100 border-0 shadow">
        <div class="card-header d-sm-flex flex-row align-items-center flex-0">
            <div class="d-block mb-3 mb-sm-0">
                <div class="fs-5 fw-normal mb-2">Sales Value</div>
                <h2 class="fs-3 fw-extrabold">$10,567</h2>
                <div class="small mt-2">
                    <span class="fw-normal me-2">Yesterday</span>
                    <span class="fas fa-angle-up text-success"></span>
                    <span class="text-success fw-bold">10.57%</span>
                </div>
            </div>
            <div class="d-flex ms-auto">
                <a href="#" class="btn btn-secondary text-dark btn-sm me-2">Month</a>
                <a href="#" class="btn btn-dark btn-sm me-3">Week</a>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div>
        </div>
    </div>
</div>