<div id="draggable-div-2" class="card draggable" style="width: 18rem;" draggable="true" data-type="div"
    data-info="DIV Component">
    <div class="card-header">
        <strong>REMOTE</strong> Component
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Simple <a href="https://getbootstrap.com/docs/5.0/components/card/#header-and-footer" target="_blank">Bootstrap5 Card</a>
        </h5>
        <p class="card-text">
            This component is pulled at runtime from a Remote Server
        </p>
        <a target="_blank" href="https://components-server.onrender.com/kits/" class="btn btn-primary">Access the Server</a>
    </div>
</div>